<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/arshad.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'navbar.html' %}
  </head>
  <body>
    <div class="card-container">
      <div class="card">
        <h2><a style="text-decoration: none;" href="tizho.html">وزارت بهداشت</a></h2>
      </div>

      <div class="card">
        <h2><a style="text-decoration: none;" href="alm.html">وزارت علوم</a></h2>
      </div>
    </div>
    <footer>
      {% include 'code2.html' %}
    </footer>
  </body>
</html>
