<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/azmon4.css" />
    
</head>
<body>
    <div class="container">
            <div class="header">
                    
            </div>    
        <div class="items">
            <div class="item1">
                <img src="./images/img1.jpg" alt="item1">
                <p class="text">کابل تبدیل لایتنینگ به HDMI مک دودو مدل CA-6400 طول 2 متری</p>
                <div>
                    <p class="persent">14%</p>
                    <p class="lastprice">۳۲۰,۰۰۰</p>
                </div>
                <div class="starprice">
                    <div>
                        <b>۲۷۰,۰۰۰<span>تومان</span></b>
                    </div>
                    <div>
                        <p class="rate">۴.۵</p>
                        <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="item2">
                <img src="./images/img2.jpg" alt="item2">
                <p class="text">کابل انتقال صدا 3.5 میلی متری باسئوس مدل Yiven M30 به طول 1 متر</p>
                <div>
                    <p class="persent">25%</p>
                    <p class="lastprice">۴۲۵,۰۰۰</p>
                </div>
                <div class="starprice">
                    <div>
                        <b>۱۶۹,۰۰۰<span>تومان</span></b>
                    </div>
                    <div>
                        <p class="rate">۳.۹</p>
                        <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="item3">
                <img src="./images/img3.jpg" alt="item3">
                <p class="text">کابل تبدیل USB به microUSB / USB-C / لایتنینگ سمگپرس مدل Quick Charger طول 1 متر</p>
                <div>
                    <p class="persent">22%</p>
                    <p class="lastprice">۲۳۰,۰۰۰</p>
                </div>
                <div class="starprice">
                    <div>
                        <b>۱۸۰,۰۰۰<span>تومان</span></b>
                    </div>
                    <div>
                        <p class="rate">۴.۹</p>
                        <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="item4">
                <img src="./images/img4.jpg" alt="item4">
                <p class="text">شارژر فندکی و مبدل خودرو باسئوس مدل power 150W (220v)</p>
                <div>
                    <p class="persent">37%</p>
                    <p class="lastprice">۷۲۰,۰۰۰</p>
                </div>
                <div class="starprice">
                    <div>
                        <b>۴۵۴,۰۰۰<span>تومان</span></b>
                    </div>
                    <div>
                        <p class="rate">۴.۰</p>
                        <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
