<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/code2.css" />

    {% comment %} <link rel="stylesheet" href="code2.css"> {% endcomment %}
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>منابع</h3>
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">محصولات</a></li>
                    <li><a href="#">خدمات</a></li>
                    <li><a href="#">تماس با ما</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>تماس</h3>
                <p>تلفن: +98 21 12345678</p>
                <p>ایمیل: info@example.com</p>
            </div>
            <div class="footer-section">
                <h3>درباره ما</h3>
                <p>توضیحات کوتاه در مورد شرکت یا وب‌سایت.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>تمامی حقوق این وب‌سایت محفوظ است. &copy; 2024</p>
        </div>
    </footer>
</body>
</html>
