<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/dash.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="card-container">
      <div class="card">
        <h2><a style="text-decoration: none;" href="hoshan.html">تیزهوشان</a></h2>
      </div>
      <div class="card">
        <h2><a style="text-decoration: none;" href="arshad.html">سراسری</a></h2>
    </div>
    <div class="card">
      <h2><a style="text-decoration: none;" href="arshad.html">ارشد</a></h2>
    </div>
      <div class="card">
        <h2><a style="text-decoration: none;" href="tizho.html">دکتری</a></h2>
      </div>
    </div>
  </body>
</html>
