<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/khabar.css" />

</head>
<body>
    <div class="container">
        <div class="box">
            <h2>کادر اول</h2>
            <img src="small_image_1.jpg" alt="تصویر کوچولو">
        </div>
        <div class="box">
            <h2>کادر دوم</h2>
            <img src="small_image_2.jpg" alt="تصویر کوچولو">
        </div>
        <div class="box">
            <h2>کادر سوم</h2>
            <img src="small_image_3.jpg" alt="تصویر کوچولو">
        </div>
        <!-- ادامه کادرها -->
    </div>
</body>
</html>
