<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="stylesheet" href="../static/sarasari.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>رشته‌‌های زیرگروه۱</h1>
            <a href="#">ـ بیوتکنولوژی پزشکی</a>
            <a href="#">ـ ژنتیک انسانی</a>
            <a href="#">ـ بیوشیمی بالینی</a>
        </div>
        <div class="content">
            
            <div class="buttons">
                <button>آزمون</button>
                <button><h2><a style="text-decoration: none;" href="azmon1.html">کلاس</a></h2></button>
                <button>جزوات</button>
                <button>نفرات‌ برتر و رضایتمندی</button>
                <button>مشاوره</button>
                <button>همایش</button>
            </div>
        </div>
    </div>
</body>
</html>
