<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/tizho.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'navbar.html' %}
  </head>
  <body>
    <div class="card-container">
      <div class="card">
        <h2><a style="text-decoration: none;" href="sarasari.html">زیرگروه 1</a></h2>
      </div>
      <div class="card">
        <h2><a style="text-decoration: none;" href="zir2.html">زیرگروه 2</a></h2>
      </div>
      <div class="card">
        <h2><a style="text-decoration: none;" href="zir3.html">زیرگروه 3</a></h2>
      </div>
      <div class="card">
        <h2><a style="text-decoration: none;" href="khabar.html">اخبار</a></h2>
      </div>
    </div>
    <footer>
      {% include 'code3.html' %}
    </footer>
  </body>
</html>
